@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>DoThis is one of many task management applications. However, it strives to be better. Please let us know how this site can be improved and what you need most when managing your tasks.</p>
